CompileFlags:
  Add: [-Wno-unknown-warning-option]
  Remove:
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-jump-tables
    - -march=*
    - -nostartfiles
    - -specs=*
    - -ffunction-sections
    - -fdata-sections
    - -mlongcalls
    - -fmacro-prefix-map=*
